<footer>
    <nav class="h-container">
        <div class="item">
            <a href="/docs">API Documentation</a>
        </div>
        <div class="item">
            <a href="https://github.com/DayOfThePenguin/r3th.ink">GitHub Repository</a>
        </div>
        <div class="item">
            <a href="https://github.com/DayOfThePenguin/r3th.ink/issues">Bugs/feature requests</a>
        </div>
    </nav>
    <div class="h-container">
        &copy; Copyright 2021 Colin Dablain
    </div>
</footer>