{% from 'wikimap_macros.html' import url_for_wikimap %}
<html>

<head>
  <style>
    body {
      margin: 0;
    }
  </style>

  <script src="//unpkg.com/3d-force-graph"></script>
</head>

<body>
  <div id="3d-graph"></div>

  <script>
    const distance = 1800;
    const jsonURL = "/json/{{ url_for_wikimap(map) }}";
    const Graph = ForceGraph3D()
      (document.getElementById("3d-graph"))
      .jsonUrl(jsonURL)
      .nodeLabel("id")
      .nodeAutoColorBy("group")
      .onNodeClick(node => window.open("https://en.wikipedia.org/wiki/${node.id}", "blank"));
  </script>
</body>

</html>